.first-section{
    display: flex;
  margin: 270px 140px 0px 20px;
}
.first-section-homepage__title{
    max-width: 390px;
    display: flex;
    height: 132px;
    align-items: center;
    margin-top: 19vh;
}
.first-section-homepage__h2{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 46px;
color: #25313C;
text-align: left;
}
.moon-phase{
    max-width: 100px;
    height: auto;
}
.first-candle{
    max-width: 448px;
}

.first-paragraph__homepage{
    font-weight: 500;
font-size: 16px;
line-height: 183%;
color: #6D7D8B;
text-align: left;
}
@media only screen and (max-width: 1194px) {
   
    .first-section-homepage__h2{
        font-size: 35px;
        line-height: 39px;
    }
    .first-section-homepage__title{
        max-width: 250px;
        margin-top: 10vh;
        margin-left: -50px;
    }
    .moon-phase{
        max-width: 80px;
        margin-left: 10px;
    }
    .first-candle{
        max-width: 328px;
    }
    .first-paragraph__homepage{
        margin-top: -10px;
        margin-left: -50px;
    }
   
}
@media only screen and (max-width: 1144px){
  .first-candle{
      margin-left: -45px;
  }
  .first-section{
    display: flex;
  margin: 270px 60px 0px 20px;
}
}
@media only screen and (max-width: 988px){
    .first-paragraph__homepage{
        line-height: 22px;
        text-align: justify;
    }
}
@media only screen and (max-width: 768px){
    .first-section{
        display: flex;
      margin: 370px 40px 0px 20px;
    }
    .first-candle{
        margin-left: -65px;
        
    }
    .first-paragraph__homepage{
        margin-top: -45px;
        margin-left: -65px;
        font-size: 14px;
    }
    .first-section-homepage__title{
        margin-left: -65px;
        max-width: 400px;
        margin-top: 9vh;
    }
    .first-section-homepage__h2{
        font-size: 24px;
    }
  
    .moon-phase{
        max-width: 40px;
        margin-left: 10px;
    }
   
 }
 @media only screen and (max-width: 568px){
    .first-section{
        display: flex;
      margin: 370px 17px 0px 20px;
    }
    .first-candle{
        margin-left: -51px;
        width: 211px;
        
    }
    .first-paragraph__homepage{
        margin-top: -45px;
        margin-left: -44px;
        font-size: 12px;
        line-height: 17px;
        margin-top: -53px;
        text-align: left;
    }
    .first-section-homepage__title{
        margin-left: -44px;
        max-width: 400px;
        margin-top: 1vh;
    }
    .moon-phase{
        max-width: 20px;
        margin-left: 10px;
    }
    .first-section-homepage__h2{
        font-size: 3.7vh;
    }
   
 }

 @media only screen and (max-width: 420px){
    .first-section{
        display: flex;
        flex-direction: column;
      margin: 270px 30px 0px 30px;
    }
    .first-candle{
        display: none;
        
    }
    .first-section-homepage__h2{
        font-size: 5.7vh;
    }

    .first-paragraph__homepage{
        margin-left: 0;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        margin-bottom: 18px;
        
    }
    .first-section-homepage__title{
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 400px;
        margin-top: 1vh;
        justify-content: center;
    }
    
 }