footer{
    margin: 140px 0 50px 0;
}
.whatsapp-icon{
    margin: 20px 50px 8px 0;
    width: 27px;
}
.instagram-icon{
   margin: 0 50px 9px 0;
   width: 25.5px;
}
.mail-icon{
    margin-bottom: 3.5px;
    width: 26.7px;
}
.copyright{
    color: rgb(150, 146, 146);
}
@media only screen and (max-width: 768px){
    .footer-logo{
        max-width: 250px;
    }
}
@media only screen and (max-width: 568px){
    .footer-logo{
        max-width: 180px;
    }
    .whatsapp-icon{
        margin: 20px 50px 8px 0;
        width: 22.5px;
    }
    .instagram-icon{
       margin: 0 50px 9px 0;
       width: 21.5px;
    }
    .mail-icon{
        margin-bottom: 3.5px;
        width: 22.7px;
    }
    .copyright{
        color: rgb(150, 146, 146);
        font-size: 12px;
    }
    .footer-paragraph{
        font-size: 12px;
    }
    footer{
        margin: 140px 0 30px 0;
    }
}
@media only screen and (max-width: 420px){
    .footer-logo{
        max-width: 170px;
    }
    .whatsapp-icon{
        margin: 20px 27px 8px 0;
        width: 22.5px;
    }
    .instagram-icon{
       margin: 0 30px 9px 0;
       width: 21.5px;
    }
    .mail-icon{
        margin-bottom: 4px;
        width: 22.7px;
    }
    .copyright{
        color: rgb(150, 146, 146);
        font-size: 12px;
    }
    .footer-paragraph{
        font-size: 12px;
    }
    footer{
        margin: 140px 0 30px 0;
    }
}